amqp
anyjson
celery
decorator
Django
django-guardian
Jinja2
MarkupSafe
meld3
MySQL-python
paramiko
path.py
pexpect
pickleshare
ptyprocess
pycrypto
python-dateutil
pytz
PyYAML
pyzmq
redis
requests
#salt
#salt-api
simplegeneric
singledispatch
six
smmap
supervisor
tornado
traitlets
uWSGI
svn