{% extends 'base.html' %}
{% block title %}Autoops | 添加测试{% endblock %}
{% block breadcrumb %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>添加测试</h2>
        <ol class="breadcrumb">
            <li>
                <a href={% url 'index' %}>首页</a>
            </li>
            <li>
            <a>项目管理</a>
            </li>
            <li class="active">
            <strong>添加测试</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
{% endblock %}
{% block col2 %}
<li class="active">
    <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">项目管理</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse in">
{% endblock %}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
<form class="form-horizontal" role="form" method="POST" action={% url 'add_test' %} xmlns="http://www.w3.org/1999/html">
    {% csrf_token %}
    <div class="form-group">
        <label class="col-md-2 control-label">测试名称</label>
        <div class="col-md-4">{{ form.name }}{{ form.name.errors }}</div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">项目名称</label>
        <div class="col-md-4">{{ form.project }}{{ form.project.errors }}</div>
    </div>
{#    <div class="form-group">#}
{#        <label class="col-md-2 control-label">代码类型</label>#}
{#        <div class="col-md-8">#}
{#            {% for i in form.code_type %}#}
{#            <div class="i-checks checkbox-inline"><label> <input type="radio" name={{ form.code_type.name }} value={{ i.choice_value }}> <i></i> {{ i.choice_label }} </label></div>#}
{#            {% endfor %}#}
{#        {{ form.code_type.errors }}#}
{#        </div>#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <label class="col-md-2 control-label">仓库类型</label>#}
{#        <div class="col-md-8">#}
{#            {% for i in form.repo_type %}#}
{#            <div class="i-checks checkbox-inline"><label> <input type="radio" name={{ form.repo_type.name }} value={{ i.choice_value }}> <i></i> {{ i.choice_label }} </label></div>#}
{#            {% endfor %}#}
{#        {{ form.repo_type.errors }}#}
{#        </div>#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <label class="col-md-2 control-label">仓库地址</label>#}
{#        <div class="col-md-4">{{ form.repo_url }}{{ form.repo_url.errors }}</div>#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <label class="col-md-2 control-label">认证类型</label>#}
{#        <div class="col-md-4">{{ form.auth }}{{ form.auth.errors }}</div>#}
{#    </div>#}
    <div class="form-group">
        <label class="col-md-2 control-label">测试服务器</label>
        <div class="col-md-3">{{ form.host_list }}{{ form.host_list.errors }}</div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">发布前命令</label>
        <div class="col-md-5">{{ form.before_cmd }}{{ form.before_cmd.errors }}</div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">发布后命令</label>
        <div class="col-md-5">{{ form.after_cmd }}{{ form.after_cmd.errors }}</div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">远程服务器路径</label>
        <div class="col-md-5">{{ form.server_path }}{{ form.server_path.errors }}</div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">描述</label>
        <div class="col-md-5">{{ form.desc }}{{ form.desc.errors }}</div>
    </div>

    <div class="form-group">
        <div class="col-sm-10 col-md-offset-2 controls-row">
            <button type="submit" class="btn btn-success btn-outline m-b">增加</button>
            <a href={% url 'test' %} class="btn btn-warning btn-outline m-b">取 消</a>
        </div>
    </div>
</form>
    </div>
    </div>
{% endblock %}
{% block footjs %}
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>
{% endblock %}