{% extends 'base.html' %}
{% block title %}Autoops | Node.js测试发布{% endblock %}
{% block breadcrumb %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Node.js测试发布</h2>
        <ol class="breadcrumb">
            <li>
                <a href={% url 'index' %}>首页</a>
            </li>
            <li>
            <a>项目管理</a>
            </li>
            <li class="active">
            <strong>Node.js测试发布</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
{% endblock %}
{% block col2 %}
<li class="active">
    <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">项目管理</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse in">
{% endblock %}
{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        Node.js
    </div>
    </div>
{% endblock %}
{% block footjs %}
<script>
    $(document).ready(function() {
        $(".select2_demo_1").select2();
        $('.footable').footable();
        $('.footable2').footable();

        $( '.ladda-button' ).ladda( 'bind', { timeout: 200000 } );

        // Bind progress buttons and simulate loading progress
        Ladda.bind( '.progress-demo .ladda-button',{
            callback: function( instance ){
                var progress = 0;
                var interval = setInterval( function(){
                    progress = Math.min( progress + Math.random() * 0.1, 1 );
                    instance.setProgress( progress );

                    if( progress === 1 ){
                        instance.stop();
                        clearInterval( interval );
                    }
                }, 200 );
            }
        });
    });

</script>
{% endblock %}