{% extends 'base.html' %}
{% block title %}Autoops | 运维版本发布{% endblock %}
{% block breadcrumb %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>正式环境发布</h2>
        <ol class="breadcrumb">
            <li>
                <a href={% url 'index' %}>首页</a>
            </li>
            <li>
            <a>项目管理</a>
            </li>
            <li class="active">
            <strong>正式环境发布</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
{% endblock %}
{% block col2 %}
<li class="active">
    <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">项目管理</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse in">
{% endblock %}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="tabbable" id="tabs-321540">
				<ul class="nav nav-tabs">
                    {% for i in projects %}
                        {% if forloop.first %}
                        <li class="active"><a href="#panel-{{ i }}" data-toggle="tab">{{ i }}</a></li>
                        {% else %}
                        <li><a href="#panel-{{ i }}" data-toggle="tab">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
				</ul>
				<div class="tab-content">
                    {% for i in projects %}
                        {% if forloop.first %}
                    <div class="tab-pane active" id="panel-{{ i }}">
                         <p>
                        <table class="table table-hover">
    <thead>
        <tr>
            <th data-sortable="true" >项目名</th>
            <th data-sortable="true">分支名</th>
            <th data-sortable="true">hash值</th>
            <th data-sortable="true">描述</th>
            <th data-sortable="true">发布</th>
        </tr>
    </thead>
                            <tbody>
                                {% for j in pre_records %}
                            {% ifequal i j.project %}
        <tr>
            <td>{{ j.project }}</td>
            <td>{{ j.branch }}</td>
            <td>{{ j.hash }}</td>
            <td>{{ j.desc }}</td>
            <td>
                {% if perms.release.view_project %}
                    <a href={% url "pro_release" j.id %} class="ladda-button btn btn-outline btn-w-m btn-xs btn-primary" data-style="zoom-in">正  式</a>
                    <a href={% url "del_pre_record" j.id %} class="ladda-button btn btn-outline btn-w-m btn-xs btn-danger" data-style="zoom-in">删  除</a>
                    <a href={% url "complete_pre" j.id %} class="ladda-button btn btn-outline btn-w-m btn-xs btn-success" data-style="zoom-in">完  成</a>
                {% endif %}
            </td>
        </tr>
                            {% endifequal %}
                        {% endfor %}
                            </tbody>
                            </table>
                        </p>
                    </div>
                        {% else %}
                                            <div class="tab-pane" id="panel-{{ i }}">
                         <p>
                        <table class="table table-hover">
    <thead>
        <tr>
            <th data-sortable="true" >项目名</th>
            <th data-sortable="true">分支名</th>
            <th data-sortable="true">hash值</th>
            <th data-sortable="true">描述</th>
            <th data-sortable="true">发布</th>
        </tr>
    </thead>
                            <tbody>
                                {% for j in pre_records %}
                            {% ifequal i j.project %}
        <tr>
            <td>{{ j.project }}</td>
            <td>{{ j.branch }}</td>
            <td>{{ j.hash }}</td>
            <td>{{ j.desc }}</td>
            <td>
                {% if perms.release.view_project %}
                    <a href={% url "pro_release" j.id %} class="ladda-button btn btn-outline btn-w-m btn-xs btn-primary" data-style="zoom-in">正  式</a>
                    <a href={% url "del_pre_record" j.id %} class="ladda-button btn btn-outline btn-w-m btn-xs btn-danger" data-style="zoom-in">删  除</a>
                    <a href={% url "complete_pre" j.id %} class="ladda-button btn btn-outline btn-w-m btn-xs btn-success" data-style="zoom-in">完  成</a>
                {% endif %}
            </td>
        </tr>
                            {% endifequal %}
                        {% endfor %}
                            </tbody>
                            </table>
                        </p>
                    </div>
                        {% endif %}
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
    </div>
    </div>
{% endblock %}
{% block footjs %}
<script>
    $(document).ready(function() {
        $( '.ladda-button' ).ladda( 'bind', { timeout: 200000 } );

        Ladda.bind( '.progress-demo .ladda-button',{
            callback: function( instance ){
                var progress = 0;
                var interval = setInterval( function(){
                    progress = Math.min( progress + Math.random() * 0.1, 1 );
                    instance.setProgress( progress );
                    if( progress === 1 ){
                        instance.stop();
                        clearInterval( interval );
                    }
                }, 200 );
            }
        });
    });

</script>
{% endblock %}