{% extends 'base.html' %}
{% block title %}Autoops | 项目测试发布{% endblock %}
{% block breadcrumb %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>项目测试发布</h2>
        <ol class="breadcrumb">
            <li>
                <a href={% url 'index' %}>首页</a>
            </li>
            <li>
            <a>项目管理</a>
            </li>
            <li class="active">
            <strong>项目测试发布</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
{% endblock %}
{% block col2 %}
<li class="active">
    <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">项目管理</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse in">
{% endblock %}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>项目测试发布</h5>

            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">

            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
            {% if perms.release.add_test %}
                <a href={% url "add_test" %} class="btn btn-outline btn-w-m btn-primary btn-sm">增加</a>
            {% endif %}
                <thead>
                <tr>

                    <th data-toggle="true">测试例</th>
                    <th>项目名称</th>
                    <th>上次发布分支</th>
                    <th>上次hash值</th>
                    <th data-hide="all">服务器列表</th>
                    <th data-hide="all">远程服务器路径</th>
                    <th data-hide="all">发布前命令</th>
                    <th data-hide="all">发布后命令</th>
                    <th data-hide="all">发布</th>
                    <th>其他</th>
                </tr>
                </thead>
                <tbody>
                {% for i in tests %}
                <tr class="default">
                    <td>{{i.name}}</td>
                    <td>{{i.project}}</td>
                    <td>{% if i.last_branch %}
                        {{i.last_branch}}
                        {% else %}
                        {% endif %}
                    </td>
                    <td>{{i.last_hash}}</td>
                    <td>{% for j in i.host_list %}{% if forloop.last %}{{ j }}{% else %}{{ j }},{% endif %}{% endfor %}</td>
                    <td>{{i.server_path}}</td>
                    <td>{{i.before_cmd}}</td>
                    <td>{{i.after_cmd}}</td>
                    <td>
                    {% if perms.release.view_test %}
                        <form method="get" action={% url 'test_release' i.id %} class="form-inline">
                            <input name="branch" class="form-control" placeholder="请输入分支">
                            <button type="submit" class="ladda-button btn btn-w-m btn-outline btn-success btn-sm" data-style="zoom-in"><i class="fa fa-send-o">发布</i> </button>
                            <p>Tips:不输入为上次发布分支.</p>
                        </form>
                    {% else %}
                    没有权限
                    {% endif %}
                    </td>
                    <td>
                    {% if perms.release.change_test %}
                        <a href={% url 'edit_test' i.id %} class="btn btn-outline btn-xs btn-warning"><i class="fa fa-paste">编辑</i> </a>
                    {% endif %}
                    {% if perms.release.add_svncontrol %}
                        <a href={% url 'pre_release' i.id %} class="ladda-button btn btn-outline btn-xs btn-success" data-style="zoom-in"><i class="fa fa-upload">预发布</i> </a>
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    </div>
    </div>
{% endblock %}
{% block footjs %}
<script>
    $(document).ready(function() {
        $(".select2_demo_1").select2();
        $('.footable').footable();
        $('.footable2').footable();

        $( '.ladda-button' ).ladda( 'bind', { timeout: 200000 } );

        // Bind progress buttons and simulate loading progress
        Ladda.bind( '.progress-demo .ladda-button',{
            callback: function( instance ){
                var progress = 0;
                var interval = setInterval( function(){
                    progress = Math.min( progress + Math.random() * 0.1, 1 );
                    instance.setProgress( progress );

                    if( progress === 1 ){
                        instance.stop();
                        clearInterval( interval );
                    }
                }, 200 );
            }
        });
    });

</script>
{% endblock %}