{% extends 'base.html' %}
{% block title %}Autoops | 数据库连接{% endblock %}
{% block breadcrumb %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>数据库连接</h2>
        <ol class="breadcrumb">
            <li>
                <a href={% url 'index' %}>首页</a>
            </li>
            <li>
            <a>数据库管理</a>
            </li>
            <li class="active">
            <strong>数据库连接</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
{% endblock %}
{% block col3 %}
<li>
    <a href="#"><i class="fa fa-database"></i> <span class="nav-label">数据库管理</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse in">
{% endblock %}
{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>数据库连接  </h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <table class="table table-hover">
                    {% if perms.main.add_userpass %}
                <a href={% url "add_db_config" %} class="btn btn-outline btn-w-m btn-primary btn-sm">增加</a>
                    {% endif %}
                <thead>
                <tr>
                    <th>连接名</th>
                    <th>数据库地址</th>
                    <th>其他</th>
                </tr>
                </thead>
                <tbody>
                {% for i in db_configs %}
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.address}}</td>
                        <td>
                            {% if perms.main.change_userpass %}
                            <a href={% url 'edit_db_config' i.id %} class="btn btn-outline btn-xs btn-warning dim" type="button"><i class="fa fa-paste">编辑</i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>
{% endblock %}
