<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Autoops | 控制面板{% endblock %}</title>

    {% include 'head_css.html' %}{% block headcss %}{% endblock %}

</head>

{% block body %}
<body>
{% endblock %}
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element"> <span>
                            {% if user.headimg %}
                                <img alt="image" class="img-circle" src="/{{ user.headimg }}" width="40" height="40"/>
                            {% else %}
                                <img alt="image" class="img-circle" src="/static/images/touxiang/tou.gif" width="40" height="40"/>
                            {% endif %}
                                 </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{ user.nickname }}</strong>
                                 </span> <span class="text-muted text-xs block">
                                    {% if user.is_superuser %}
                                    管理员
                                    {% else %}
                                    普通用户
                                    {% endif %}
                                    <b class="caret"></b></span> </span> </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href={% url 'profile' %}>个人信息</a></li>
                                <li><a href={% url 'change_password' %}>更改密码</a></li>
                                <li><a href="#">消息中心</a></li>
                                {% if user.is_superuser %}
                                <li><a href={% url 'user_list' %}>用户管理</a></li>
                                <li><a href={% url 'group_list' %}>用户组管理</a></li>
                                {% endif %}
                                <li class="divider"></li>
                                <li><a href={% url 'logout' %}>登出</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            {% if user.headimg %}
                                <img alt="image" class="img-circle" src="/{{ user.headimg }}" width="40" height="40"/>
                            {% else %}
                                <img alt="image" class="img-circle" src="/static/images/touxiang/tou.gif" width="40" height="40"/>
                            {% endif %}
                        </div>
                    </li>
                    <li>
                        <a href={% url 'index' %}><i class="fa fa-home"></i> <span class="nav-label">首页</span></a>
                    </li>
                    {% block col1 %}
                    <li>
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">资产管理</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                    {% endblock %}
                            <li><a href={% url 'assets' %}>服务器资产</a></li>
                            <li><a href={% url 'auth' %}>认证管理</a></li>
                        </ul>
                    </li>
                    {% block col2 %}
                    <li>
                        <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">项目管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                    {% endblock %}
                            <li><a href={% url 'project' %}>项目信息</a></li>
                            <li><a href={% url 'test' %}>项目测试发布</a></li>
                            <li><a href={% url 'pre_record' %}>正式环境发布</a></li>
                            <li><a href={% url 'rollback' %}>版本回滚</a></li>
                            <li><a href={% url 'release_record' %}>发布记录</a></li>
                        </ul>
                    </li>
                    {% block col3 %}
                    <li>
                        <a href="#"><i class="fa fa-database"></i> <span class="nav-label">数据库管理</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                    {% endblock %}
                            <li><a href={% url 'db_config' %}>数据库连接配置</a></li>
                            <li><a href={% url 'sqls' %}>SQL文件列表</a></li>
                            <li><a href={% url 'upload' %}>SQL文件上传</a></li>
                            <li><a href={% url 'sql_result' %}>SQL执行记录</a></li>
                            <li><a href={% url 'sql_input' %}>SQL语句执行</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            {% block navbar %}
        <nav class="navbar navbar-static-top white" role="navigation" style="margin-bottom: 0">
            {% endblock %}
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                <form role="search" class="navbar-form-custom" action={% url 'index' %}>
                    <div class="form-group">
                        <input type="text" placeholder="查找" class="form-control" name="top-search" id="top-search">
                    </div>
                </form>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">欢迎来到Autoops.</span>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>  <span class="label label-warning">0</span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="#" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/a7.jpg">
                                </a>
                                <div>
                                    <small class="pull-right">46h ago</small>
                                    <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                    <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="#" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/a4.jpg">
                                </a>
                                <div>
                                    <small class="pull-right text-navy">5h ago</small>
                                    <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                    <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="#" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/profile.jpg">
                                </a>
                                <div>
                                    <small class="pull-right">23h ago</small>
                                    <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                    <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="#">
                                    <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" id="alert">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary" id="count-info-num"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="#">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>


                <li>
                    <a href={% url 'logout' %}>
                        <i class="fa fa-sign-out"></i> 登 出
                    </a>
                </li>
                </ul>
            </ul>

        </nav>
        </div>
        {% block breadcrumb %}
        {% endblock %}
        {% block content %}
        {% endblock %}
            <div class="footer">
                <div class="pull-right">
                    版本号: <strong>0.1.0</strong>(2016.2.6)
                </div>
                <div>
                    <strong>Copyright</strong> Autoops &copy; 2016
                </div>
            </div>
        </div>

    </div>

    <!-- Mainly scripts -->
    {% include 'foot_js.html' %}
    <script>
    $(document).ready(function(){

        $.get("{% url 'alert' %}",function(data){
            $("#alert").html(data);
        });

        $("#alert-a-{{ i.id }}").click(function(){
            $.get("{% url 'alert' %}",function(data){
            $("#alert").html(data);
        });
{#            $("#alert-ul").hide();#}
        });
    });
    </script>
    {% block footjs %}

    {% endblock %}


</body>
</html>
