<script src="/static/app/js/jquery-2.1.1.js"></script>
<script src="/static/app/js/bootstrap.min.js"></script>
<script src="/static/app/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/app/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<script src="/static/app/js/plugins/dataTables/datatables.min.js"></script>
<script src="/static/app/js/plugins/footable/footable.all.min.js"></script>
<script src="/static/app/js/plugins/select2/select2.full.min.js"></script>

    <!-- Custom and plugin javascript -->
<script src="/static/app/js/inspinia.js"></script>
<script src="/static/app/js/plugins/pace/pace.min.js"></script>


<script src="/static/app/js/plugins/ladda/spin.min.js"></script>
<script src="/static/app/js/plugins/ladda/ladda.min.js"></script>
<script src="/static/app/js/plugins/ladda/ladda.jquery.min.js"></script>
<script src="/static/app/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="/static/app/js/plugins/iCheck/icheck.min.js"></script>
<script src="/static/app/js/plugins/cropper/cropper.min.js"></script>
<script src="/static/app/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/static/app/js/plugins/dropzone/dropzone.js"></script>
<script src="/static/app/js/plugins/summernote/summernote.min.js"></script>


    <!-- Sparkline -->
{#<script src="/static/app/js/plugins/sparkline/jquery.sparkline.min.js"></script>#}
