{% extends 'base.html' %}
{% block title %}Autoops | 修改用户组{% endblock %}
{% block breadcrumb %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>修改用户组</h2>
        <ol class="breadcrumb">
            <li>
                <a href={% url 'index' %}>首页</a>
            </li>
            <li>
            <a>其他</a>
            </li>
            <li class="active">
            <strong>修改用户组</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
<div class="col-md-8 col-md-offset-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>修改用户组</h5>
                        </div>
                        <div>
                            <form class="form-horizontal" enctype="multipart/form-data" role="form" method="POST" action={% url 'edit_group' ID %} xmlns="http://www.w3.org/1999/html">
                            {% csrf_token %}
                            <div class="ibox-content profile-content">
<br>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">用户组名</label>
                                    <div class="col-md-6">{{ form.name }}{{ form.name.errors }}</div>
                                </div>
                                <div class="user-button">
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            <button type="submit" class="btn btn-primary btn-outline btn-sm btn-block"><i class="fa fa-check"></i> 修改 </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </form>
                    </div>
                </div>
    </div>
    </div>
    </div>
    {% endblock %}
{% block footjs %}
{% endblock %}