{% extends 'base.html' %}
{% block title %}Autoops | 用户管理{% endblock %}
{% block breadcrumb %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>用户管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href={% url 'index' %}>首页</a>
            </li>
            <li>
            <a>其他</a>
            </li>
            <li class="active">
            <strong>用户管理</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
{% for i in users %}
    <div class="col-lg-3" id="box-{{ i.id }}">
        <div class="contact-box center-version">

            <a href={% url 'edit_user' i.id %}>

                <img alt="image" class="img-circle" src="/{{ i.headimg }}">


                <h3 class="m-b-xs"><strong>{% if i.nickname %}{{ i.nickname }}{% else %}无昵称{% endif %}</strong></h3>

                {% if i.is_superuser %}
                <div class="font-bold">管理员</div>
                {% else %}
                <div class="font-bold">普通用户</div>
                {% endif %}
                <address class="m-t-md">
                    <i class="fa fa-phone"> {% if i.tel %}{{ i.tel }}{% else %}无{% endif %}</i><br>
                    <i class="fa fa-envelope-o"> {% if i.email %}{{ i.email }}{% else %}无{% endif %}</i><br>
{#                    <strong>上次登录:</strong>#}
                    <i class="fa fa-sign-in"> {% if i.last_login %}{{ i.last_login }}{% else %}用户未登录{% endif %}</i><br>
                </address>

            </a>
            <div class="contact-box-footer">
                <div class="m-t-xs btn-group">
                    {% if i.is_superuser %}
                    <a class="btn btn-xs btn-primary btn-outline" href="#"><i class="fa fa-angellist"></i> 点我有惊喜</a>
                    {% else %}
                    <a class="btn btn-xs btn-warning btn-outline" href={% url 'user2perm' i.id %}><i class="fa fa-paste"></i> 权限</a>
                    <button class="btn btn-xs btn-danger btn-outline demo3" id="btn-delete-{{ i.id }}" ><i class="fa fa-warning"></i> 删除</button>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endfor %}

    <div class="col-lg-3">
        <div class="contact-box center-version">

            <a href={% url 'add_user' %}>

                <br>
                <br>
                <br>
                <br>
                <br>
                <h2><i class="fa fa-plus"></i></h2>
                <br>
                <br>
                <br>
                <br>
            </a>
            <div class="contact-box-footer">
                <div class="m-t-xs btn-group">
                    <a class="btn btn-xs btn-info btn-outline" href={% url 'index' %}><i class="fa fa-reply"></i> 返回</a>
                </div>
            </div>

        </div>
    </div>
        </div>
    </div>

{% endblock %}
{% block footjs %}
<script>
$(document).ready(function () {
    {% for i in users %}
    $('#btn-delete-{{ i.id }}').click(function () {
{#                swal({#}
{#                    title: "确定删除?",#}
{#                    text: "此操作不可撤销!",#}
{#                    type: "warning",#}
{#                    showCancelButton: true,#}
{#                    confirmButtonColor: "#DD6B55",#}
{#                    confirmButtonText: "确定",#}
{#                    cancelButtonText: "取消",#}
{#                    closeOnConfirm: false#}
{#                }, function () {#}
{#                    swal("成功!", "用户{{ i.nickname }}已删除.", "success");#}
{#                    $.get("{% url 'delete_user' i.id %}");#}
{#                    $('#box-{{ i.id }}').hide();#}
{#                });#}

                swal({
                        title: "确定删除?",
                        text: "此操作不可撤销!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定",
                        cancelButtonText: "取消",
                        closeOnConfirm: false,
                        closeOnCancel: false },
                    function (isConfirm) {
                        if (isConfirm) {
                            swal("成功!", "用户{{ i.nickname }}已删除.", "success");
                            $.get("{% url 'delete_user' i.id %}");
                            $('#box-{{ i.id }}').hide();
                        } else {
                            swal("已取消", "请点击按钮返回", "error");
                        }
                    });

    });
    {% endfor %}
});
</script>
{% endblock %}